html, body {
    font-family: 'Arial Rounded MT';
    background: conic-gradient(from 0deg at 50% 50%, #00829b 0% 25%, #f6cd2e 25% 50%, #b32673 50% 75%, #405d67 75% 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #f4f4f4;
    font-family: Arial;
    border-radius: 0 0 8px 8px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #0c0b0b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #0c0b0b;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* when hovering over links on navbar */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #00829b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: #4d4d4f;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*on the Login aspx page*/
.loginForm {
    border: 2px solid black;
    border-radius: 16px;
    text-align: center;
    /*width: 33%;*/
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
}

/*on the Login aspx page*/
.loginFormContent {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

/*asp.net custom buttons*/
.buttons {
    height: 30px;
    border-radius: 8px;
    border: 2px solid grey;
    cursor: default;
    /*width: max-content;*/
}

.buttons:hover {
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #f4f4f4;
}

.checkin_content {
    border: 2px solid black;
    border-radius: 16px;
    text-align: left;
    width: 80%;
    padding: 20px;
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: white;
}

.footer {
    overflow: hidden;
    background-color: #f4f4f4;
    font-family: Arial;
    border-radius: 8px 8px 0 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    /* padding: 14px 16px;*/
}

